.active {
  color: green;
}

body{
	background: #f5f5f1 !important;
}
.header{
	border-bottom: 1px solid #e4e4e4;
	background: #fff;
	box-shadow: 0 4px 3px 0 rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 4px 3px 0 rgba(0,0,0,0.05);
	-moz-box-shadow: 0 4px 3px 0 rgba(0,0,0,0.05);
}
.header .container{
	height: 50px;
	clear: both;
}
.header h1{float:left; margin:0;}
.left-header{
	float: left;
	height: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items:center;
}
.direktori{
	margin-left: 10px;
}
.right-header{
	float: right;
	height: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items:center;
}
.tag-title {
    display: table;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 0;
    margin: 10px 0;
}
.tag-title:after{
	content: "";
    left: 0;
    right: 0;
    height: 2px;
    position: absolute;
    display: block;
    top: 8px;
    z-index: -1;
    border-bottom: 1px solid #e7e7e7;
}
.title{    
	display: inline-block;
    background: #f5f5f1;
    padding: 0 12px;
}
.title._h3{
	font-size: 16px;
    line-height: 18px;
}

.prod-widget-horizontal {
  width: 100%;
  display: table;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  position: relative;
  background: #fff; }
  .prod-widget-horizontal #prod-cross-border {
    position: relative;
    display: block;
    width: 130px;
    clear: both;
    padding: 10px 0px; }
    .prod-widget-horizontal #prod-cross-border img {
      width: 100%; }
  .prod-widget-horizontal:first-child {
    border-top: 1px solid #e7e7e7; }
  .prod-widget-horizontal .widget-button-right {
    display: block;
    clear: both;
    z-index: 1;
    margin: 5px 0; }
    .prod-widget-horizontal .widget-button-right a {
      color: #e7e7e7;
      font-size: 16px; }
    .prod-widget-horizontal .widget-button-right li {
      margin-left: 5px; }
  .prod-widget-horizontal .widget-button-top {
    display: inline-block;
    clear: both;
    width: 100%; }
    .prod-widget-horizontal .widget-button-top .add-to-collection {
      color: #73777a;
      font-size: 16px;
      line-height: 16px;
      display: table;
      float: left;
      width: auto; }
  .prod-widget-horizontal .prod-name, .prod-widget-horizontal .widget-price, .prod-widget-horizontal .wrap-widget-button {
    float: left;
    clear: both; }
  .prod-widget-horizontal .prod-att {
    padding: 0 5px;
    float: left;
    margin-right: 2px;
    margin-bottom: 5px;
    border-radius: 20px;
    font-size: 11px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px; }
    .prod-widget-horizontal .prod-att.new-product {
      color: #fff;
      background: #66c590; }
    .prod-widget-horizontal .prod-att.express {
      color: #fff;
      background: #91a7d0; }
    .prod-widget-horizontal .prod-att.crossborder {
      color: #fff;
      background: #e8941b; }
  .prod-widget-horizontal .wrap-badges-widget .badges-top-left {
    display: none; }
  .prod-widget-horizontal .badges-widget-product.discount-review {
    position: absolute;
    right: 0; }
  .prod-widget-horizontal .badges-widget-product.discount-review .review {
    background-color: rgba(255, 255, 255, 0.8);
    display: table;
    color: #868686;
    margin: 0;
    position: relative;
    padding: 3px 20px 4px 0; }
  .prod-widget-horizontal .badges-widget-product.discount-review .review:after {
    content: "★";
    display: block;
    position: absolute;
    font-size: 1.2em;
    right: 5px;
    display: table;
    top: 1px;
    color: #fdba58; }
  .prod-widget-horizontal .badges-widget-product.discount-review .discount {
    background: #dc5a5a;
    padding: 3px 3px 4px 0;
    color: #fff;
    position: relative;
    margin: 5px 0;
    display: table; }
  .prod-widget-horizontal .badges-widget-product.discount-review .discount:after {
    content: " ";
    border-width: 12px;
    border-color: transparent #dc5a5a transparent transparent;
    border-style: solid;
    display: block;
    position: absolute;
    left: -24px;
    top: 0; }
  .prod-widget-horizontal .prod-image {
    position: relative;
    float: left;
    width: 30%; }
    .prod-widget-horizontal .prod-image a {
      width: 80px;
      display: block;
      margin: 0 auto;
      text-align: center;
      clear: both; }
  .prod-widget-horizontal .prod-image img {
    max-width: 100%; }
  .prod-widget-horizontal .prod-name a {
    font-size: 13px;
    
    color: inherit;
    line-height: 12px; }
  .prod-widget-horizontal .wrap-badges-widget {
    text-align: center;
    float: right;
    font-size: 10px;
    margin: 3px 5px; }
    .prod-widget-horizontal .wrap-badges-widget .discount {
      padding: 0px 5px;
      border-radius: 10px;
      display: block;
      font-size: 11px; }
  .prod-widget-horizontal .badges-widget-product span.star {
    color: #F1AD1D;
    font-size: 1.5em; }
  .prod-widget-horizontal .badges-widget-product > div {
    /* display: table;
        text-align: center;
        margin: 0 auto;
        vertical-align: middle;*/ }
  .prod-widget-horizontal .wrap-right-area {
    width: 70%;
    display: table;
    float: right;
    padding-left: 10px;
    /*padding-bottom: 35px;*/
    position: relative;
    padding-top: 10px; }
  .prod-widget-horizontal .wrap-right-area .star-product {
    margin: 5px 0;
    float: left; clear: both; display: block; }
    .prod-widget-horizontal .wrap-right-area .star-product .total-review {
	    font-size: 11px;
	    margin: 1px 5px 0 5px;
	    display: block;
	    
	    float: left;
	    color: #bbb;
	}
    .prod-widget-horizontal .wrap-right-area .star-product .wrap-star {
      float: left; }
      .prod-widget-horizontal .wrap-right-area .star-product .wrap-star .glyphicon {
        color: #f1c114; }
        .prod-widget-horizontal .wrap-right-area .star-product .wrap-star .glyphicon.yellow {
          color: #f1c114; }
  .prod-widget-horizontal .prod-name {
    width: 100%; }
  .prod-widget-horizontal .wrap-widget-button .add-to-chart, .prod-widget-horizontal .wrap-widget-button .add-to-wishlist, .prod-widget-horizontal .wrap-widget-button .notify-me {
    display: block;
    line-height: 2em;
    margin: 0;
    font-size: 1em;
    padding: 3px 0;
    width: 100%;
    text-align: center;
    float: right;
    text-transform: uppercase;
    border: 2px solid #ff6c6c;
    border-radius: 20px;
    -moz-border-radius: 20px
    -webkit-border-radius: 20px; }
  .prod-widget-horizontal .wrap-widget-button {
    width: 90%;
    position: absolute;
    bottom: 0px;
    padding: 0; }
  .prod-widget-horizontal .wrap-widget-button .notify-me {
    background: #fff;
    color: #73777a;
    border: solid 2px #bbbbbb;
    padding: 3px 5px; }
    .prod-widget-horizontal .wrap-widget-button .notify-me:active, .prod-widget-horizontal .wrap-widget-button .notify-me:focus, .prod-widget-horizontal .wrap-widget-button .notify-me:hover {
      outline: none;
      background: #fff;
      color: #ff6c6c;
      border: solid 2px #ff6c6c;
      box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
      -moz-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4);
      -webkit-box-shadow: 2px 3px 9px 0 rgba(90, 90, 90, 0.4); }


